/* CSS Document */
@charset "utf-8";
@font-face {
	font-family: 'UKIJ Tuz Tom';
	font-style: normal;
	font-weight: normal;
	src: url('UkijTuzTom.eot?#iefix');
	src: local('UKIJ Tuz Tom'), local('UKIJ Tuz Tom'), url('UkijTuzTom.ttf');
}

html{direction:rtl;}

*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
h2{padding-bottom:20px;}
.clearfix:after{
			content: "";
			display: block;
            height: 0;
            visibility: hidden;
            clear: both;
}
.clearfix{
			*zoom: 1;
}
body{
	background: url(../images/bg.jpg) no-repeat;
	background-size:cover;
	background-attachment: fixed;
	font-family: 'UKIJ Tuz Tom';
}
.content{
	width: 900px;
	height: 500px;
	margin: 200px auto 0 auto;
	border-radius: 10px;
	background-color: rgba(236,236,236,0.59);
	transition: all 1.0s;
	/*box-shadow: 0px 0px 20px rgba(0,0,0,0.3);*/
}
.content img{
	float: left;
	width: 135px;
	height:135px;
	margin: 150px 0 0 80px;
	border-radius: 100px;
	
}
.content:hover{
	box-shadow: 0px 0px 20px rgba(0,0,0,0.52);
}
.content_r{
	float: right;
	width: 500px;
	margin: 80px 60px 0  0;
/*	background-color: pink;*/
}
.content_l{
	float: left;
	width: 100%;
	text-align: center;	
}
.content_l h5{
	
	font-size: 17px;
}
.cc{
	margin-top: 10px;
	color: #1F2023;
	font-size: 18px;
}
.color_1{
	color: #4855EC;
	font-size: 18px;
}
.deeppink{
	color: deeppink;
}
.link{
	margin-top: 30px;
}
.link a{
	font-size: 15px;
	display: block;
	float: right;
	width: 140px;
	height: 45px;
	margin: 5px 5px 0 0;
/*	padding: 0 15px;*/
	color: #fff;
	line-height: 45px;
	transition: all 0.8s;
/*	background-color: deeppink;*/
	
}
.link a:hover{
	background-color:rgba(0,201,243,0.35);
}
.deeppink_1{
	background-color: deeppink;
}
.dodgerblue{
	background-color: dodgerblue;
}
.magenta{
	background-color: magenta;
}
.orange{
	background-color: orange;
}
.slateblue{
	background-color: slateblue;
}
.yellowgreen{
	background-color: yellowgreen;
}
